.current {
  font-size: 10vw;
}
.goal {
  font-size: 9vw;
}
.start {
  font-size: 9vw;
}
.datetime {
    position: absolute;
    bottom: 0;
    right: 2%;
    font-size: 8vw;
    color: yellow;
    text-shadow: 0 0 10px rgba(255,255,0,0.8);
}
.temperature {
    position: absolute;
    top: 0;
    left: 2%;
    font-size: 8vw;
    color: yellow;
    text-shadow: 0 0 10px rgba(255,255,0,0.8);
}
body {
    font-family: helvetica;
    background: black;
    color: white;
    overflow: hidden;
}
.container {
  height: 1024px;
  position: relative;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.text-center {
    text-align: center;
}
